<div class="news">
  <h2 class="purples">News</h2>
  {% if site.news  %}
  <div class="table-responsive">
    <!-- <table class="table table-sm table-borderless"> -->
      <div class="container">
    {% assign news = site.news | reverse %}
    {% for item in news limit: site.news_limit %}
      <div class="row p-2 d-flex justify-content-between" >
        <div class="col-2">{{ item.date | date: "%b %-d, %Y" }}</div>
        <div class="d-none d-sm-block col-sm-2">
          <img class="img-fluid" src="{{item.img}}" />
        </div>
        <div class="col-8">
          {% if item.inline %}
          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {% else %}
          <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    <!-- </table> -->
      </div>
  </div>
{% else %}
  <p>No news so far...</p>
{% endif %}
</div>
